@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --cor0: #57c1be4d;
    --cor1: #58C2BF;
    --cor2: #1A6173;
    --cor3: #680064;
    --cor4: #4D026E;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(180deg,white, var(--cor0),var(--cor1));
}

header{
    background-color: white;
    padding: 15px;
    text-align: center;
}

header > img{
    width: 50px;
}

nav{
    display: inline;

}

nav > a{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0 0 7px 15px;
    vertical-align: super;
    color: black; 
    font-weight: bold;
    padding: 7.5px;
    border-radius: 4px;
}

nav >a:hover{
    transition: 0.3s;
    background-color: var(--cor4);
    color: white;
}

header > a{
    vertical-align: 15px;
    padding: 5px;
    margin-left: 3.5px;
    width: 95px;
    border-radius: 5px;
    display: inline-block;
    transition-duration: 0.2s;

}
header > a:hover{
    transition-duration: 0.2s;
    transform: scale(1.1);
}

#botaoEntrar{
    background-color: var(--cor3);
    border: solid 3px var(--cor3);
    color: white;
}

#botaoCadastrar{
    border: solid 3px var(--cor3);
    background-color: white;
    color: black;
}


main{
    margin: auto;
    text-align: center;
    padding: 20px;
    max-width: 1000px;
    background-color: var(--cor0);
}

main h1{
    font-size: 3em;
    color: var(--cor4);
    margin-top: 0.7em;
}

main p{
    font-size: 2em;
    width: 70%;
    margin: 1.2em auto;
    color: var(--cor2);
}

main a{
    font-size: 1.2em;
    color: var(--cor3);
}

h2{
    display: inline-block;
}
main h2:hover .dado{
   display: inline-block;
   transition: 0.3s;
   transform: rotate(360deg);
}

main img{
    display: block;
    margin: auto;
    width: 75%;
    margin-top: 30px;
}

footer{
    background-color: var(--cor1);
    padding: 5px;
    text-align: center;
    font-weight: bold;
}